.detailedInformation{
    /*border: 5px solid red;*/
    border-radius: 10px;
    margin: 2% 5%;
    padding: 1.5%;
    background: #FFEEFA;
    color: #AA486E;
}

.partOfSpeech{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    text-transform: capitalize;
    color: #DA86A5;
}

.definitions{
    font-size: 25px;
}


@media(max-width:986px){
    .partOfSpeech{
        font-family: 'Playfair Display', serif;
        font-size: 4.2vw;
        text-transform: capitalize;
        color: #DA86A5;
    }
    
    .definitions{
        font-size: 2.8vw;
    }
  }

  @media(max-width:556px) {
    /* For mobile phones: */
    .partOfSpeech{
        font-family: 'Playfair Display', serif;
        font-size: 4.2vw;
        text-transform: capitalize;
        color: #DA86A5;
    }
    
    .definitions{
        font-size: 2.8vw;
    }
  }
