.detailedInformation{
    border: 5px solid red;
    margin: 2% 5%;
    padding: 1.5%;
}

.partOfSpeech{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-transform: capitalize;
}

.definitions{
    font-size: 20px;
}