#searchForm{
    margin: 2% 5%;
    margin-bottom: 0%;
}


.fa-book{
    font-size: 270%;
    color:red;
    margin-left: 25%;
    margin-top: 1%;
}

input[type=search] {
    padding: 10px;
    width:80%;
    margin-right:2%;
  }

  input[type=submit] {
    width:12%;
    margin-left:2%;
    padding: 10px;
  }

  .wordAndPhonetics {
    border: 5px solid red;
    margin: 2% 5%;
    margin-bottom: 0%;
    padding: 1.5%;
}

  .searchedWord{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    text-transform: capitalize;
  }

  .photosSection{
    border: 5px solid red;
    margin: 0% 5% 2% 5%;
    padding: 1.5%;
    padding-bottom: 0%;
  }

  .photosSection .col-4{
    padding: 0% 1%;
  }
