.outerBorder{
    background: #FFD1DC;
}
.container{
    padding: 3%;
    font-family: 'Playfair Display', serif; 
   
}

.App-header{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 60px;
    color: #DA86A5;
}

@media(max-width:986px){
    .fa-book{
        font-size: 1.6vw;
        color:#DA86A5;
        margin-left: 10%;
        margin-top: 1%;
    }
    
    input[type=search] {
        padding: 10px;
        width:70%;
        margin-right:1%;
        margin-left:1%;
        background-color: #F7CAD5;
        color: white;
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 1.6vw
      }
    
      input[type=search]:focus {
        border: none;
        outline: none;
        font-size: 1.6vw
      }
    
      input[type=submit] {
        width:8%;
        margin-left:1%;
        margin-right:1%;
        padding: 10px;
        background-color: #F7CAD5;
        color: white;
        border-radius: 5px;
        border: none;
        font-size: 1.6vw;
      }
    
      input[type=submit]:focus {
        border: none;
        font-size: 1.6vw;
      }

      .App-header{
        font-size: 5vw;
      }
  }

  @media(max-width:556px) {
    /* For mobile phones: */
    .fa-book{
        font-size: 1.6vw;
        color:#DA86A5;
        margin-left: 10%;
        margin-top: 1%;
    }
    
    input[type=search] {
        padding: 10px;
        width:70%;
        margin-right:1%;
        margin-left:1%;
        background-color: #F7CAD5;
        color: white;
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 1.6vw
      }
    
      input[type=search]:focus {
        border: none;
        outline: none;
        font-size: 1.6vw
      }
    
      input[type=submit] {
        width:8%;
        margin-left:1%;
        margin-right:1%;
        padding: 10px;
        background-color: #F7CAD5;
        color: white;
        border-radius: 5px;
        border: none;
        font-size: 1.6vw;
      }
    
      input[type=submit]:focus {
        border: none;
        font-size: 1.6vw;
      }

    .App-header{
      font-size: 5vw;
    }

    .partOfSpeech{
        font-family: 'Playfair Display', serif;
        font-size: 4vw;
        text-transform: capitalize;
        color: #DA86A5;
    }
    
    .definitions{
        font-size: 2.5vw;
    }

    .link-github{
        text-align: center;
        margin: 2% 5%;
        font-size: 1.6vw;
    }
  }
