.link-github{
    text-align: center;
    margin: 2% 5%;
    font-size: 25px;
}

.link{
    color: #FFEEFA;
    text-decoration: none;
    font-weight: bold;
} 

.link:hover{
    color: #AA486E;
    text-decoration: none;
    font-weight: bold;
} 

.name-maria{
    color: #DA86A5;
}

@media(max-width:986px){
    .link-github{
        text-align: center;
        margin: 2% 5%;
        font-size: 2.5vw;
  }
}
  @media(max-width:556px) {
    /* For mobile phones: */
    .link-github{
        text-align: center;
        margin: 2% 5%;
        font-size: 2.5vw;
    }
  }